@use "sass:map";
@use "../abstracts/" as *;

:root {
  --ff-primary: #{$ff-primary};
  --ff-secondary: #{$ff-secondary};
  --fs-base: #{fs(base)};
  --fw-400: #{$fw-400};
  --main-wrapper-size: 1200px;
  --section-padding: #{space(xl)};

  @each $color-name, $color-shades in $colors {
    @each $color-shade, $color-value in $color-shades {
      --clr-#{$color-name}-#{$color-shade}: #{$color-value};
    }
  }
}
