@use "sass:map";
@use "sass:meta";
@use "sass:math";
@use "breakpoints" as *;
@use "functions" as *;

@mixin media-min($min-breakpoint) {
  $breakpoint: validate-breakpoint($min-breakpoint);

  @media (min-width: $breakpoint) {
    @content;
  }
}

@mixin media-max($max-breakpoint) {
  $breakpoint: validate-breakpoint($max-breakpoint);

  @media (max-width: $breakpoint) {
    @content;
  }
}

@mixin media-range($min-breakpoint, $max-breakpoint) {
  $min-breakpoint: validate-breakpoint($min-breakpoint);
  $max-breakpoint: validate-breakpoint($max-breakpoint);

  @media (min-width: $min-breakpoint) and (max-width: $max-breakpoint) {
    @content;
  }
}
