@use "../abstracts/" as *;

.text-center {
  text-align: center;
}

.text-balance {
  text-wrap: balance;
}

.section-padding {
  padding-block: var(--main-section-padding, --section-padding);
}

.normal-text {
  color: var(--p-color, var(--clr-neutral-500));
  line-height: 1.5;
  text-wrap: pretty;
}

.mi-auto {
  margin-inline: auto;
}

.flow {
  &[data-spacing="small"] {
    --flow-spacer: #{space(s)};
  }
  &[data-spacing="medium"] {
    --flow-spacer: #{space(m)};
  }
  &[data-spacing="large"] {
    --flow-spacer: #{space(l)};
  }

  > * + * {
    margin-block-start: var(--flow-spacer, space(base));
  }
}

.skip-link {
  /* 1. Visually hide the link by default */
  position: absolute;
  top: -40px; /* Move it off-screen */
  left: 0;
  background-color: #000;
  color: #fff;
  padding: 8px 16px;
  z-index: 9999; /* Ensure it appears above all other content */
  transition: top 0.3s ease; /* Smooth transition */
  &:focus-visible {
    top: 0; /* Move it into view */
  }
}
