@use "../abstracts/" as *;

.text-center {
  text-align: center;
}

.text-balance {
  text-wrap: balance;
}

.section-padding {
  padding-block: var(--section-padding);
}

.flow {
  &[data-spacing="small"] {
    --flow-spacer: #{$space-s};
  }
  &[data-spacing="medium"] {
    --flow-spacer: #{$space-m};
  }
  &[data-spacing="large"] {
    --flow-spacer: #{$space-l};
  }

  > * + * {
    margin-top: var(--flow-spacer, $space-base);
  }
}
